<div ng-repeat="user in users | filter: searchText.search">
  <div class="col col-sm-4">
     <a ng-href="#/profile/{{user._id}}">
        <div class="card">
          <div>
            <img class="card-img-top cardImage" src="http://cdn.playbuzz.com/cdn/e22985e7-b45c-4e61-89c7-2a5458d22131/840b4a44-bf09-48fd-8066-c021eae58b30_560_420.jpg" alt="Card image cap">
          </div>
          <div class="card-block">
            <h4 class="card-title">{{user.profile.name}}</h4>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{user.profile.age}}</li>
            <li class="list-group-item">{{user.profile.gender}}</li>
            <li class="list-group-item">{{user.profile.location}}</li>
          </ul>
        </div>
      </a>
    </div>
</div>